<head>
    <link rel="stylesheet" href="/cartItem.css">
</head>
<div class="cartItem">
    <div class="left">
        <h3><%= product && product.title %></h3>
        <p class="price">$<%= product && product.totalPrice %>  <span>($<%= product && product.price %> )</span></p>
    </div>
    <div class="right">
        <form action="/update-quantity/<%= product && product.id %>" method="POST">
            <input type="number" value="<%= product && product.quantity %>" name="quantity">
            <button>Update</button>
        </form>
    </div>
</div>